<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.orangedeck.connector</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/YOU/Code/OrangeDeck/target/release/orangedeck-connector</string>
    <string>serve</string>
    <string>--config</string>
    <string>/Users/YOU/.config/orangedeck/connector.toml</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>NetworkState</key>
    <true/>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/YOU/Library/Logs/OrangeDeck-Connector.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/YOU/Library/Logs/OrangeDeck-Connector.error.log</string>
</dict>
</plist>
